.status-pill {
  display: inline-block;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  text-align: center;
  min-width: 80px;
}

.status-published {
  background-color: rgba(0, 182, 155, 1);
}

.status-draft {
  background-color: rgba(255, 206, 0, 1);
}

.status-archived {
  background-color: #dc3545;
}

.status-default {
  background-color: #6c757d;
}

.pagerstyle {
  text-align: right;
}

.card {
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.stats {
  border: none;
  background: transparent;
}

.card.new {
  width: 262px;
  height: 112px;
}

.card.draft {
  width: 262px;
  height: 112px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text-new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-new {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 10px;
  color: #ffffff;
  font-weight: 600;
}

.desc-new {
  margin-top: 5px;
  font-size: 28px;
  margin-left: 15px;
  color: #ffffff;
  font-weight: bold;
}

.icon_stats-new {
  font-size: 40px;
  color: #ffffff;
  padding: 15px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.card.new {
  background-color: rgba(190, 30, 45, 1); /* Red */
  cursor: pointer;
}

.card.new:hover {
  background-color: #e53935; /* Darker Red */
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 18px;
  margin-left: 15px;
  color: rgba(32, 34, 36, 0.6);
  font-weight: 600;
  margin-top: 10px;
}

.value {
  font-size: 25px;
  margin-top: 5px;
  margin-left: 15px;
  color: rgba(32, 34, 36, 1);
  font-weight: bold;
}

.icon_stats-draft {
  font-size: 40px;
  color: rgba(255, 153, 36, 1);
  padding: 15px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 153, 36, 0.3);
}

.icon_stats-publish {
  font-size: 40px;
  color: rgba(52, 199, 89, 1);
  padding: 15px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(52, 199, 89, 0.3);
}

.icon_stats-total {
  font-size: 40px;
  color: rgba(49, 106, 255, 1);
  padding: 15px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(49, 106, 255, 0.3);
}

.toolbar {
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
}

.webix_icon.actionMenu {
  font-size: 18px;
  color: #555;
}

.webix_icon.actionMenu:hover {
  color: #007bff;
}
